@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family:
        Helvetica,
        "Apple SD Gothic Neo",  /* macOS Korean */
        "Noto Sans KR",         /* Google Korean fallback */
        "Noto Sans CJK KR",     /* Broader Korean fallback */
        "Noto Sans SC",         /* Simplified Chinese */
        "Noto Sans TC",         /* Traditional Chinese */
        Arial,
        sans-serif;
    }

.scrollbar-none::-webkit-scrollbar {
    display: none;
    }
    .scrollbar-none {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE 10+ */
    }